<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"></head>
</head>
<body>
    <main class="container" style="display: flex; justify-content: center; align-items: center; height: 100vh; flex-direction: column;">
        <h1 style="color: gold;">STC{21232f297a57a5a743894a0e4a801fc3}</h1>
        <p>Félicitations vous êtes arrivé jusqu'ici ?</p>
        <a href="/final" class="button">Le dernier flag se cache ici !</a>
    </main>
</body>
</html>