<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erreur</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"></head>

</head>
<body>
    <main class="container" style="display: flex; justify-content: center; align-items: center; height: 100vh; flex-direction: column;">
        <h1>Erreur !</h1>
    <p>{{ message }}</p>

    <a href="/" class="button">Revenir à la page de connexion</a>
    </main>
</body>
</html>